<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} | " : "" %>Draft</title>
    <%= csrf_meta_tags %>
    <meta property="og:title" content="<%= content_for?(:title) ? "#{yield(:title)} | " : "" %>Let me in" />
    <meta property="og:description" content="Sistema de registro para eventos." />
    <meta name="description" content="Sistema de registro para eventos">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>
    <%= favicon_link_tag 'favicon.png', rel: 'shortcut icon' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-light navbar-static-top bd-navbar" role="banner">
      <div class="">
        <button class="navbar-toggler pull-sm-right hidden-sm-up collapsed vertical-align" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-expanded="false">
          ☰
        </button>
        <a class="navbar-brand" href="/">
          <svg width="165px" height="60px" viewBox="0 0 165 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="HOME" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="Desktop-HD" class="logo-svg" sketch:type="MSArtboardGroup" transform="translate(-176.000000, -20.000000)" fill="#469cb6">
                <g id="NAV" sketch:type="MSLayerGroup" transform="translate(176.000000, 20.000000)">
                  <g id="LOGO" sketch:type="MSShapeGroup">
                    <path d="M24.0334807,11.9390909 C10.880884,11.9390909 0.179585635,22.61 0.179585635,35.7254545 C0.179585635,48.8427273 10.880884,59.5145455 24.0334807,59.5145455 C37.186989,59.5145455 47.8873757,48.8427273 47.8873757,35.7254545 C47.8873757,22.61 37.186989,11.9390909 24.0334807,11.9390909 L24.0334807,11.9390909 Z M24.0334807,54.9690909 C13.3941713,54.9690909 4.73759669,46.3363636 4.73759669,35.7254545 C4.73759669,25.1154545 13.3941713,16.4845455 24.0334807,16.4845455 C34.6737017,16.4845455 43.3293646,25.1154545 43.3293646,35.7254545 C43.3293646,46.3363636 34.6737017,54.9690909 24.0334807,54.9690909 Z M9.43964088,7.11454545 C11.9374309,7.64 17.1682044,7.94909091 22.7244199,7.94909091 C31.1631215,7.94909091 40.3511602,7.23636364 41.838895,5.49 C42.2609669,4.99454545 42.3767403,4.35 42.1488398,3.76363636 C41.8543923,3.00727273 41.1624862,1.23363636 26.5659116,0.917272727 C20.1537017,0.776363636 11.4342265,1.03727273 7.95281768,2.22545455 C5.58538674,3.03272727 5.71483425,4.41454545 5.88074586,4.97090909 C6.2709116,6.28272727 7.89903315,6.79090909 9.43964088,7.11454545 Z M37.436768,4.37272727 C31.081989,5.51727273 15.18,5.60454545 9.89726519,4.47 C15.2310497,3.31181818 31.118453,3.28727273 37.436768,4.37272727 Z M65.9525967,26.0681818 C65.9525967,22.6554545 63.9452486,19.9054545 59.9651934,19.9054545 L55.6706354,19.9054545 L55.6706354,32.2654545 L59.9651934,32.2654545 C63.6134254,32.2654545 65.9525967,29.8109091 65.9525967,26.0681818 Z M57.2422376,21.2981818 L59.9651934,21.2981818 C62.775663,21.2981818 64.3645856,23.2827273 64.3645856,26.0681818 C64.3645856,28.8009091 62.8276243,30.8727273 59.9651934,30.8727273 L57.2422376,30.8727273 L57.2422376,21.2981818 Z M69.2553315,19.9227273 L70.8260221,19.9227273 L70.8260221,32.2654545 L69.2553315,32.2654545 L69.2553315,19.9227273 Z M79.2583425,25.4063636 C77.0240055,24.9018182 75.993895,24.5536364 75.993895,23.23 C75.993895,21.9772727 76.8662983,21.2109091 78.7870442,21.2109091 C80.2711326,21.2109091 81.5801934,21.8554545 82.156326,22.4990909 L82.8892541,21.2281818 C81.8418232,20.3754545 80.4798895,19.8181818 78.8216851,19.8181818 C76.2555249,19.8181818 74.3703315,21.1063636 74.3703315,23.4745455 C74.3703315,25.4409091 75.6793923,26.12 78.1935912,26.7290909 C80.4972099,27.2863636 81.7716298,27.7045455 81.7716298,29.0972727 C81.7716298,30.3327273 80.7424309,30.9772727 78.9784807,30.9772727 C77.0932873,30.9772727 75.400442,30.1063636 74.6492818,29.3236364 L73.8990331,30.6463636 C75.2956077,31.7781818 77.041326,32.3872727 78.9438398,32.3872727 C81.4926796,32.3872727 83.4471547,31.3254545 83.4471547,28.94 C83.4471547,26.7118182 81.8418232,25.9809091 79.2583425,25.4063636 Z M96.0883425,23.8572727 C96.0883425,21.9072727 94.5176519,19.9054545 92.3352762,19.9054545 L87.0288398,19.9054545 L87.0288398,32.2654545 L88.5995304,32.2654545 L88.5995304,27.8263636 L91.8812983,27.8263636 L94.71,32.2654545 L96.4903591,32.2654545 L93.4875414,27.53 C95.058232,27.13 96.0883425,25.5809091 96.0883425,23.8572727 Z M88.5995304,26.4336364 L88.5995304,21.2981818 L92.2477624,21.2981818 C93.4529006,21.2981818 94.5003315,22.4645455 94.5003315,23.8572727 C94.5003315,25.2145455 93.6452486,26.4336364 92.3535083,26.4336364 L88.5995304,26.4336364 Z M108.223591,26.1554545 C108.223591,28.5227273 107.385829,30.9427273 104.505166,30.9427273 C101.676464,30.9427273 100.804061,28.5927273 100.804061,26.1554545 L100.804061,19.9054545 L99.2324586,19.9054545 L99.2324586,26.1554545 C99.2324586,29.3236364 100.577072,32.3527273 104.522486,32.3527273 C108.328425,32.3527273 109.794282,29.4972727 109.794282,26.1554545 L109.794282,19.9054545 L108.223591,19.9054545 L108.223591,26.1554545 Z M118.787238,19.9054545 L113.620276,19.9054545 L113.620276,32.2654545 L115.190967,32.2654545 L115.190967,27.8263636 L118.892072,27.8263636 C121.073536,27.8263636 122.540304,25.8936364 122.540304,23.8572727 C122.540304,21.9072727 120.968702,19.9054545 118.787238,19.9054545 Z M118.804558,26.4336364 L115.190967,26.4336364 L115.190967,21.2981818 L118.699724,21.2981818 C119.90395,21.2981818 120.952293,22.3945455 120.952293,23.8572727 C120.952293,25.2672727 120.096298,26.4336364 118.804558,26.4336364 Z M124.287845,21.2981818 L128.564171,21.2981818 L128.564171,32.2654545 L130.135773,32.2654545 L130.135773,21.2981818 L134.412099,21.2981818 L134.412099,19.9054545 L124.287845,19.9054545 L124.287845,21.2981818 Z M137.259945,19.9227273 L138.831547,19.9227273 L138.831547,32.2654545 L137.259945,32.2654545 L137.259945,19.9227273 Z M147.700525,30.2981818 L143.598315,19.9054545 L141.939199,19.9054545 L147.018646,32.2654545 L148.381492,32.2654545 L153.442707,19.9054545 L151.785414,19.9054545 L147.700525,30.2981818 Z M157.616934,30.8727273 L157.616934,26.6081818 L163.430221,26.6081818 L163.430221,25.3018182 L157.616934,25.3018182 L157.616934,21.2981818 L164.302624,21.2981818 L164.302624,19.9054545 L156.046243,19.9054545 L156.046243,32.2654545 L164.460331,32.2654545 L164.460331,30.8727273 L157.616934,30.8727273 Z M78.9839503,46.9936364 L72.2982597,38.5963636 L70.3647514,38.5963636 L70.3647514,51.39 L72.8579834,51.39 L72.8579834,43.1918182 L79.4534254,51.39 L81.4762707,51.39 L81.4762707,38.6154545 L78.9839503,38.6154545 L78.9839503,46.9936364 Z M91.4346133,46.6336364 L94.0190055,46.6336364 L94.0190055,47.5336364 C93.0609116,48.7054545 91.9952486,49.2818182 90.8201934,49.2818182 C88.7244199,49.2818182 87.1883702,47.4072727 87.1883702,44.9936364 C87.1883702,42.6872727 88.5803867,40.7045455 90.6761602,40.7045455 C91.9952486,40.7045455 93.1693923,41.4081818 93.7838122,42.6690909 L95.6443923,41.3 C94.8139227,39.6054545 93.0973757,38.5063636 90.7664088,38.5063636 C87.2968508,38.5063636 84.6778177,41.4254545 84.6778177,44.9209091 C84.6778177,48.3454545 87.3141713,51.48 90.603232,51.48 C91.9040884,51.48 93.0062155,50.9936364 94.0190055,49.9481818 L94.0190055,51.39 L96.0792265,51.39 L96.0792265,44.8136364 L91.4346133,44.8136364 L91.4346133,46.6336364 Z M102.531547,45.8763636 L107.933702,45.8763636 L107.933702,43.8581818 L102.531547,43.8581818 L102.531547,40.7763636 L108.783315,40.7763636 L108.783315,38.5963636 L100.037403,38.5963636 L100.037403,51.39 L108.94558,51.39 L108.94558,49.21 L102.531547,49.21 L102.531547,45.8763636 Z M115.253867,38.5963636 L112.759724,38.5963636 L112.759724,51.39 L121.794613,51.39 L121.794613,49.21 L115.253867,49.21 L115.253867,38.5963636 Z M129.546878,43.9481818 C127.61337,43.4436364 126.619724,43.1736364 126.619724,42.1281818 C126.619724,41.2090909 127.30616,40.6872727 128.661713,40.6872727 C130.196851,40.6872727 131.787597,41.5881818 132.113039,41.9481818 L133.215166,39.93 C132.094807,39.1736364 130.523204,38.5063636 128.733729,38.5063636 C126.132017,38.5063636 124.053564,39.9118182 124.053564,42.5245455 C124.053564,44.4881818 125.246851,45.3181818 127.685387,45.9845455 C129.691823,46.5254545 131.010912,46.8490909 131.010912,47.9845455 C131.010912,48.8318182 130.305331,49.3 128.950691,49.3 C126.99895,49.3 125.065442,48.1645455 124.632431,47.7327273 L123.530304,49.8763636 C125.011657,50.9218182 126.99895,51.5336364 128.914227,51.5336364 C131.443923,51.5336364 133.666409,50.4890909 133.666409,47.7327273 C133.666409,45.39 132.076575,44.5972727 129.546878,43.9481818 Z M60.479337,38.5963636 L55.4190331,51.39 L58.0581215,51.39 L61.4903039,41.2809091 L64.9051657,51.39 L67.5442541,51.39 L62.5021823,38.5963636 L60.479337,38.5963636 Z M16.0296133,30.1618182 C13.793453,30.1618182 11.9820994,31.97 11.9820994,34.1981818 C11.9820994,36.4281818 13.793453,38.2345455 16.0296133,38.2345455 C18.2639503,38.2345455 20.0762155,36.4281818 20.0762155,34.1981818 C20.0762155,31.97 18.2639503,30.1618182 16.0296133,30.1618182 Z M32.0182044,30.1618182 C29.7838674,30.1618182 27.9716022,31.97 27.9716022,34.1981818 C27.9716022,36.4281818 29.7838674,38.2345455 32.0182044,38.2345455 C34.2543646,38.2345455 36.0675414,36.4281818 36.0675414,34.1981818 C36.0675414,31.97 34.2543646,30.1618182 32.0182044,30.1618182 Z" id="Fill-1"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </a>
      </div>
      <div class="navbar-toggleable-sm collapse pull-sm-right vertical-align" id="bd-main-nav" aria-expanded="false" style="">
        <nav class="nav navbar-nav pull-sm-right text-sm-right">
          <%= logout_header %>
        </nav>
      </div>
    </header>
    <div class="container">
      <div id="flash">
        <%= bootstrap_flash %>
      </div>
      <%= yield %>
    </div>
    <% if Rails.env.production?  %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71051084-7', 'auto');
      ga('send', 'pageview');
    </script>
    <% end %>
  </body>
</html>
